/* Container of the slider */
.Slider-container {
  background: #fff;
  text-align: center;
  width: 850px;
  font-size: 0;
  margin-top: 50px;
  padding-bottom: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px -2px rgba(102,102,102,1);
  -moz-box-shadow: 0 0 15px -2px rgba(102,102,102,1);
  box-shadow: 0 0 15px -2px rgba(102,102,102,1);
}

* {box-sizing:border-box}

/* Inner Slider container */
.Slider-container-inner {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.Slider-slide {
  display: none;
}

/* Shows the active slide */
.Slider-active {
  display: block;
}

/* Image always at 100% width */
.Slider-container img {
  width: 100%;
}

/* Next and previous blocks */
.Slider-prev-block, .Slider-next-block {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.Slider-prev-block {
  left: 0;
}

.Slider-next-block {
  right: 0;
}

/* Next & previous buttons */
.Slider-prev, .Slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
  font-family: sans-serif;
}

/* Position the "next button" to the right */
.Slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.Slider-prev:hover, .Slider-next:hover {
  background-color: rgba(0,0,0,0.75);
}

/* Caption text */
.Slider-text {
  color: #555;
  font-size: 18px;
  padding: 0 12px;
  position: absolute;
  bottom: -38px;
  width: 100%;
  text-align: center;
  font-family: fantasy;
  text-overflow: ellipsis;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
