.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-header {
  text-align: left;
  color: white;
  padding: 20px 0 20px 20px;
}

.App-body {
  display: flex;
  justify-content: center;
}

h1 {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
